{% extends "base.html" %}
{% block title %}Events | E-Management{% endblock title %}
{% block contents %}
{% if messages %}
  <div class="messages space-y-2 mb-4">
    {% for message in messages %}
      <div
        class="p-3 rounded text-white
        {% if message.tags == 'success' %}
          bg-green-500
        {% else %}
          bg-red-500
        {% endif %}
        "
      >
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class="container mx-auto px-4 py-8">
  <div class="">{% include "Events/events_filter.html" %}</div>
  {% if events %}
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for event in events %}
    <div class="">{% include "../shared/events_card.html" %}</div>
    {% empty %}
    <p class="text-center text-red-600 col-span-3">No events found.</p>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-red-500 mt-8">
    No events found for the applied filters.
  </p>
  {% endif %}
</div>
{% endblock contents %}
