{% extends "base.html" %}
{% block title %}Add Category | E-Management{% endblock title %}
{% block contents %}
<section
  class="bg-gradient-to-br from-indigo-100 via-white to-purple-100 min-h-[80vh] flex justify-center items-center"
>
  <div class="flex items-center justify-center py-10 px-4">
    {% if messages %}
    <div
      id="toast"
      class="fixed top-5 right-1/2 bg-green-500 text-white px-4 py-2 rounded shadow-lg transition-opacity duration-500"
    >
      {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <div class="bg-white shadow-lg rounded-lg w-full max-w-md p-8">
      <h3 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Add New Category
      </h3>

      <form method="POST" class="space-y-4">
        {% csrf_token %}

        <div>
          <label
            for="id_name"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Category Name</label
          >
          {{ category_form.name }}
        </div>
        <div>
          <label
            for="id_email"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Category Description</label
          >
          {{ category_form.description }}
        </div>

        <div class="text-center pt-4">
          <button
            type="submit"
            class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition duration-200"
          >
            Add Category
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock contents %}
